baseurl: "/Web-Teaching/"
remote_theme: chauff/cse-theme

collections:
  lectures:
    output: true
    sort_by: ordering
  practicals:
    output: true
    sort_by: ordering

updateWarning: The materials are currently being updated for the 2020/21 course edition. Some content may still change.

footerImage: ../images/tudelft-ewi.svg

headerImage: ../images/tudelft_ewi_bw.jpg #goes well with the light-grey-theme.css
cssTheme: /assets/css/light-blue-theme.css

#headerImage: ../images/tudelft_ewi.jpg #goes well with colorful themes
#cssTheme: /assets/css/default.css

plugins:
  - jemoji
  - jekyll-remote-theme
  
markdown: kramdown
# !github-pages! mandatory › https://help.github.com/articles/using-jekyll-with-pages/#configuration-settings-you-cannot-change
# Since Jekyll 3 the default highlighter is Rouge (replaced Pygments.rb in v44)
highlighter: rouge

# More › http://kramdown.gettalong.org/quickref.html
# Options › http://kramdown.gettalong.org/options.html
kramdown:
  input:          GFM
  # https://github.com/jekyll/jekyll/pull/4090
  syntax_highlighter: rouge

  # Rouge Highlighter in Kramdown › http://kramdown.gettalong.org/syntax_highlighter/rouge.html
  # span, block element options fall back to global
  syntax_highlighter_opts:
    # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: 'highlight'
    #line_numbers: true # bad idea, spans don't need linenos and would inherit this option
    span:
      line_numbers: false
    block:
      line_numbers: false
