@import "style.css";

#alphabet {
  float: left;
  width: 50%;
  background-color: #ddd;
}

.alphabet {
  position: relative;
  width: 8%;
  height: 8%;
  background-color: #aaa;
  display: inline-block;
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;

  text-align: center;
  font-size: 250%;
  padding: 10px;

  border-color: #fff;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.alphabet:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(128, 128, 128, 0.1) inset;
}

.alphabetDisabled {
  border: 2px solid #bbb;
  background-color: transparent;
  box-shadow: none;
}
.alphabetDisabled:hover {
  box-shadow: none;
}
.alphabetUsed {
  border: 2px solid #bbb;
  background-color: #ccc;
  box-shadow: none;
}

.alphabetUsed:hover {
  box-shadow: none;
}

#word {
  float: left;
  width: 50%;
  height: 50%;
  background-color: #aaa;

  font-size: 500%;
  color: var(--main-red);
  text-align: center;
}

#hiddenWord {
  font-family: monaco, Bitstream Vera Sans Mono, monospace;
  display: inline-block;
  vertical-align: middle;
  line-height: 500%;
}

#status {
  float: left;
  width: 50%;
  height: 5%;
  background-color: #222;
  font-family: monaco, Bitstream Vera Sans Mono, monospace;
  color: var(--status-red);
  font-size: 75%;
  vertical-align: middle;
}

#statusbar {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(40, end);
  letter-spacing: 0.1em;
}

/*
    Typing/blinking inspired by: https://css-tricks.com/books/volume-i/animate-text-like-typewriter/
 */

#statusbar::after {
  content: " _";
  animation: blinking 0.9s steps(3, start) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  to {
    visibility: hidden;
  }
}

#balloons {
  float: left;
  width: 50%;
  height: 45%;
  background-color: #eee;
}

.balloon {
  width: 10vw;
  height: 10vw;
  margin: 10px;
  border: 0px;
  transition: width 2s, height 2s, transform 2s;
}

.balloonGone {
  width: 0vw;
  height: 0vw;
}
