@import "style.css";

body {
  font-family: fantasy;
}

h1 {
  position: absolute;
  font-size: 400%;
  top: 200px;
  left: 50px;
  color: white;
}

h1::before {
  content: "★ ";
  color: var(--main-red);
}

h2::after {
  content: " ★";
  color: var(--main-red);
}

h2 {
  position: absolute;
  font-size: 220%;
  top: 350px;
  left: 50px;
  color: #ccc;
}

h3::before {
  content: "★ ";
  color: var(--main-red);
}
h3 {
  position: absolute;
  font-size: 110%;
  top: 550px;
  left: 50px;
  color: white;
  font-family: monaco, Bitstream Vera Sans Mono, monospace;
}

#decoration-top {
  position: absolute;
  top: 100px;
  left: 50px;
}

@keyframes wobblySquare {
  from {
    height: 24px;
    width: 79px;
  }

  to {
    height: 25px;
    width: 80px;
  }
}

.square {
  height: 25px;
  width: 80px;
  margin-right: 10px;
  background-color: white;
  display: inline-block;
  animation-duration: 1s;
  animation-name: wobblySquare;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.square:hover {
  background-color: #c3343c;
  transform: scale(1.1) rotateZ(-5deg);
}

#left {
  float: left;
  width: 70%;
  background-color: #555;
}

#right {
  float: left;
  width: 30%;
  background-color: #aaa;
}

#b1 {
  position: absolute;
  bottom: 10px;
  right: 50px;
  background-color: #fff;
}

#b2 {
  position: absolute;
  bottom: 10px;
  right: 200px;
  background-color: #ddd;
}

#b3 {
  position: absolute;
  bottom: 10px;
  right: 350px;
  background-color: #aaa;
}

button {
  position: absolute;
  background-color: var(--main-red);
  color: #fff;
  bottom: 100px;
  right: 250px;
  font-size: 700%;
  border: none;
  padding: 30px;
  width: 30%;
  z-index: 1;
}

button:hover {
  background-color: #000;
  transition: background-color 2s ease;
  text-decoration: underline overline;
}
