:root {
  --main-red: #f4424b;
  --status-red: #fd2130;
}

html,
body,
main,
section {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  color: #aaa;
  text-decoration: underline overline;
}

.balloon {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #555;
}
