html, body, main, section, div {
    height: 100%;
}

h1 {
    position: absolute;
    font-size: 400%;
    top: 20px;
    left: 30px;
    color: white;
}

h2 {
    position: absolute;
    font-size: 220%;
    top: 150px;
    left: 30px;
    color:#ccc;
}

button {
    position: absolute;
    background-color: #f4424b;
    color: #fff;
    bottom: 100px;
    right: 250px;
    font-size: 700%;
    border: none;
    padding: 20px;
}

button:hover {
    background-color: #C3343C;
    text-decoration: underline overline;
}

#left {
    float: left;
    width: 70%;
    background-color: #555
}

#right {
    float: left;
    width: 30%;
    background-color: #AAA;
}



